<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Ranking</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;1,300&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/add_ranking.css">
    <!-- <link rel="icon" type="image/x-icon" href="/imgs/logo.png"> -->
  </head>
<body>
  <header>
    <nav>
        <div class="nav-wrapper">
            <ul id="desktop-nav" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="user_profile.html">Profile</a></li>
                <li><a href="add_ranking.html">Add Ranking</a></li>
                <li><a href="all_rankings.html">Full Ranking List</a></li>
                <!-- <% if (isLoggedIn) { %> -->
                    <!-- <li><a class="red btn" href="/logout"> LOGOUT <%=user.name%>!</a></li> -->
                <!-- <% } else { %> -->
                    <li><a class="blue btn" href="/"> LOGIN</a></li>
                <!-- <% } %> -->
            </ul>
        </div>
    </nav>
</header>
    <!-- <div class="vertical-menu">
        <a href="index.html">Home</a>
        <a href="user_profile.html">PROFILE</a>
        <a href="add_ranking.html" class="active">ADD NEW RANKING</a>
        <a href="all_rankings.html">SEARCH SHOWS</a>
        <a href="index.html">LOGOUT</a>
    </div> -->

    <h1>Add Show Ranking</h1>
    <div class="container">
      <input type="text" name="show_name" id="nameInput" class="validate" data-length="32" required placeholder="Show Name:">
    </div>

    <div class="containing">
      <label for="genres">Genre:</label>
      <select name="" id="genres">
        <option value="">Select</option>
        <option value="">Fantasy</option>
        <option value="">Romance</option>
        <option value="">Comedy</option>
        <option value="">Drama</option>
        <option value="">Sci-Fi</option>
        <option value="">Action</option>
      </select>
    </div>
    <div class="containers">
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
    </div>

    <div class="button">
        <a href="user_profile.html">Submit</a>
    </div>
    <script> M.AutoInit();</script>
</body>
</html>