html {
    background-color: #004e7b;
}

body {
    background-color: rgb(122, 204, 220);
    width: 75%;
    height: 600px;
    margin: auto;
    font-family: 'Zilla Slab';
    border: solid rgb(202, 161, 104);
    border-width: 12px;
}

h1 {
    color: #1e1b66;
    font-weight: bold;
}

th {
    color: #297f71;
    width: 150px !important;
}

td {
    color: rgb(165, 34, 34);
}

/* button,
a {
    background-color: #7b0200;
    color: white;
    border-style: outset;
    border-color: #2F1000;
    padding: 0px;
    text-transform: none;
    height: 30px;
    width: 100px;
    font-family: 'Zilla Slab';
    display: block;
    text-align: center;
} */
/* 
button:hover,
a:hover {
    border-style: inset;
    background-color: #661b1b;
    border-color: #7b0200;
} */

#searchbar {
    width: 120px;
    margin-left: 15%;
    padding: 5px;
    border-radius: 10px;
    float: right;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #22004f;
}

::-webkit-scrollbar-thumb {
    background: rgb(165, 132, 86);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 110, 72);
}

::placeholder {
    color: rgb(92, 92, 92);
    font-style: italic;
    font-family: 'Zilla Slab';
}

.vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
  }