<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Show List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/all_rankings.css">
    <script>
        function search_book() {
            let input = document.getElementById('searchbar').value
            input = input.toLowerCase();
            let x = document.getElementsByClassName('books');

            for (i = 0; i < x.length; i++) {
                if (!x[i].innerHTML.toLowerCase().includes(input) && x[i].id == "subject") {
                    for (k = 0; k < 3; k++) {
                        x[i].style.display="none";
                        i++;
                    }
                    x[i].style.display="none";
                }
                else {
                    console.log(x[i].innerHTML + ":" + x[i].innerHTML.toLowerCase().includes(input));
                    console.log(x[i].id);
                    x[i].style.display = "table-cell";
                }
            }
        }
    </script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Show Ranker</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- Main nav, hidden for small screens -->
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="user_profile.html"><i class="material-icons left"></i>Profile</a></li>
                    <li><a href="add_ranking.html"><i class="material-icons left"></i>Add Ranking</a></li>
                    <li><a href="all_rankings.html"><i class="material-icons left"></i>All Rankings</a></li>
                    <!-- <% if (isLoggedIn) { %> -->
                        <!-- <li><a class="red btn" href="/logout"> LOGOUT <%=user.name%>!</a></li> -->
                    <!-- <% } else { %> -->
                        <li><a class="blue btn" href="/"> LOGIN</a></li>
                    <!-- <% } %> -->
                </ul>
            </div>
        </nav>
    </header>
    <input id="searchbar" onkeyup="search_book()" type="text" name="search" placeholder="Search:">

    <div class="container">
        <h1>Show List </h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Ranking</th>
                <th>More Info</th> 
            </tr>
    </div>
    <script> M.AutoInit();</script>
</body>

</html>