body {
    text-align: center;
    background-color: #a989fa;
    font-family: 'Papyrus';
}
.container {
    height: 600px;
    position: relative;
    /* background-color: blue; */
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }