body {
    text-align: center;
    background-color: #a989fa;
    font-family: 'Papyrus';
    background-image: url(movie_board.jpg);
    background-repeat: no-repeat;
    background-size: 100% 108%;
}

h1 {
  color:#ffffff;
}

a {
  color:white
}
.container {
    height: 600px;
    position: relative;
    /* background-color: blue; */
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  .button {
    background-color: #000000;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    font-family: "Segoe UI";
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    width: 100%;
    position: relative;
    transform: rotate(-2deg);
    user-select: none;
  }