<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add New Ranking</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/add_ranking.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;1,300&display=swap" rel="stylesheet"> -->

  </head>
<body>
  <header>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Show Ranker</a>
            <ul id="desktop-nav" class="right hide-on-med-and-down">
                <!-- <li><a href="/">Home</a></li> -->
                <!-- <li><a href="/user_profile">Profile</a></li> -->
                <li><a href="/add_ranking/all_rankings">Full Ranking List</a></li>
                  <% if (isLoggedIn) { %>
                      <li><a href="/logout" class="btn red">Logout <%=user.name%>!</a></li>                        
                  <% } else { %>
                      <li><a href="/login" class="btn blue">Login</a></li>
                  <% } %>
            </ul>
        </div>
    </nav>
  </header>
    <h1>Add Show Ranking</h1>
   <form method="post" action="/add_rankings">
    <div class="container">
    <div class="row">
        <div class="input-field col s3">
          <input type="text" name="show_name" id="nameInput" class="validate" data-length="32" placeholder="Show Name:" required>
          <ul id="dropdown" class="dropdown-content">
            <li><a>Fantasy</a></li>
            <li><a>Romance</a></li>
            <li><a>Action</a></li>
            <li><a>Comedy</a></li>
            <li><a>Drama</a></li>
         </ul>
         <a class="btn dropdown-button" href="#" data-activates="dropdown">Genres<i class="mdi-navigation-arrow-drop-down right"></i></a>
          <div class="containers">
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
          </div>
          <input type="text" name="description" id="nameInput" class="validate" data-length="32" placeholder="Description:" required>
      </div>
        <div class="b">
            <div class="button" type="submit">
              <a href="/add_ranking/all_rankings">Submit</a>
            </div>
        </div>
      </div>
    </div>
</form>
    <script> M.AutoInit();</script>
</body>
</html>