<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css" type = "text/css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  -->
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/add_ranking.css"> -->

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> -->

</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
              <a class="brand-logo">Show Ranker</a>
              <ul id="desktop-nav" class="right hide-on-med-and-down">
                <% if (isLoggedIn) { %>
                    <li><a href="/logout" class="btn red">Logout <%=user.name%>!</a></li>                        
                <% } else { %>
                    <li><a href="/login" class="btn blue">Login</a></li>
                <% } %>
            </ul>
            </div>
        </nav>
      </header>
    <div class="container">
        <div class="center">
            <h1>Show Ranker</h1>
            <!-- <div class="button">
            <a href="/user_profile">Get Started!</a>
            </div>
            <div class="buttons">
                <a href="/user_profile">help me </a>
            </div> -->
            <div class="section" style="text-align: center">
                <button onclick="location.href='/add_ranking'">Add New Show!</button>
                <button onclick="location.href='/add_ranking/all_rankings'">See Full List!</button>
            </div>
        </div>
    </div>
    <script> M.AutoInit();</script>
</body>
</html>