body{
  background-color: #C4B0FF
}


a {
  color:white !important;
}

.dropdown-content {
  background-color:rgb(68, 32, 140) !important;
  color: rgb(128, 59, 174) !important;
}

/* #dropdown {
  background-color: blue !important;
} */

.nav-wrapper {
  background-color: #7342e4 !important;
}

.container {
    margin: auto;
    width: 13.5%;
    /* border: 3px solid pink; */
    padding: 10px;
    align-items: center;
  }
  .containers {
    margin: auto;
    width: 190px;
    height: 30px;
    /* border: 3px solid green; */
    padding: 10px;
    align-items: center;
  }
  .containing {
    margin: auto;
    width: 130px;
    /* border: 3px solid rgb(9, 32, 161); */
    padding: 10px;
    align-items: center;
  }

h1 {
    text-align: center;
}
.button {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #7342e4;
  border-radius: 999px;
  box-shadow: #25024f 0 10px 20px -10px;
  font-family: "Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  padding: 8px 18px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #6d29ff;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #5016ce;    
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #3c03b7;    
}







