html {
    background-color: #32009e;
}

body {
    background-color: #C4B0FF;
    width: 75%;
    height: 600px;
    margin: auto;
    font-family: 'Zilla Slab';
    border: solid #6542e4;
    border-width: 12px;
}

h1 {
    color: #1e1b66;
    font-weight: bold;
}

th {
    color: #5e24e7;
    width: 150px !important;
}

td {
    color: rgb(63, 21, 117);
}

.nav-wrapper {
  background-color: #7342e4 !important;
}

.containing {
    margin: auto;
    width: 130px;
    /* border: 3px solid rgb(9, 32, 161); */
    padding: 10px;
    align-items: center;
  }

  
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}



#searchbar {
    width: 120px;
    margin-left: 15%;
    padding: 5px;
    border-radius: 10px;
    float: right;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #22004f;
}

::-webkit-scrollbar-thumb {
    background: rgb(165, 132, 86);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 110, 72);
}

::placeholder {
    color: rgb(92, 92, 92);
    font-style: italic;
    font-family: 'Zilla Slab';
}

.vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
  }