body {
    text-align: center;
    background-color: #a989fa;
}

h1 {
  color:#ffffff;
  font-size: 35px;
  font-family: 'Papyrus';
}

.nav-wrapper {
  background-color: #7342e4 !important;
}

a {
  color:white !important;
}
.container {
    height: 500px;
    position: relative;
    /* background-color: blue; */
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .centers {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .centering {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .centerings {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 65%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  button {
    background-color: #4b4b4b;
    color: white;
    border-style: outset;
    border-radius: 15px;
    border-color: #151414;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 120px;
    font-family: 'Zilla Slab';
}

button:hover {
    border-style: inset;
    background-color: #534f4f;
    border-color: #201f1f;
}